@model System.Data.DataTable

@using System.Data

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.ViewName in @ViewBag.DatabaseName</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
</head>
<body>
    <div class="container mt-5">
        <h2>@ViewBag.ViewName in @ViewBag.DatabaseName</h2>
        <table id="dataTable" class="display">
            <thead>
                <tr>
                    @foreach (DataColumn column in Model.Columns)
                    {
                        <th>@column.ColumnName</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in Model.Rows)
                {
                    <tr>
                        @foreach (var item in row.ItemArray)
                        {
                            <td>@item</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        <a href="@Url.Action("Views", "Database", new { databaseName = ViewBag.DatabaseName })" class="btn btn-secondary mt-3">Back to Views</a>
    </div>
</body>
</html>
